.slider {
    flex: initial;
    width: 25%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 2vh 1vw;
    position: relative;}
